 -----
 Uqbar Project
 -----
 ${project.name}
 -----


Label

 A <<org.uqbar.arena.widgets.Label>> is a control used to display information: 

* Bindings

 Label content can be fixed or bindable. To define a <<static label>> you should set text property:
   
+--
new Label(editorPanel).setText("Fahrenheit")  <- you don't want to change this label, so text property is not Observable
+--
 
 Or you can bind a label to a <<dynamic>> property of a model
 
+--
new Label(mainPanel).bindValueToProperty("kilometers") <- as soon as model changes, the label content updates its content
+--

 <<Remember>>: to properly configure a label you should define text or value properties. If you define both, value property overrides text property, so it has no sense.
 
 Usually you bind a label against a read-only property (although there's no need to restrict setter methods in the model).


* Another properties
 
 * It inherits the following properties from {{{./control.html}Control}}:
 
   * enabled, visible & background (bindables)
 
   * height / width (manually configured)
 
 * And also inherits from Skinnable Control this properties:
 
    * fontSize, foreground, background 

 * withFilter(TextFilter): allows to set a specific filter (date, numeric data, etc.)

 []


Links
 
 {{{../components.html}Back to Component Page}}
 
 {{{../../documentation.html}Back to Documentation Page}} 

