 -----
 Uqbar Project
 -----
 ${project.name}
 -----
  
Component List

 * {{{./components/control.html}Control}} (abstract base class)
 
     * {{{./components/textbox.html}Text Box}}
     
     * {{{./components/label.html}Label}}
     
     * {{{./components/selector.html}Selectors}} (Selector, List and RadioSelectors)
     
     * {{{./components/checkbox.html}Check Box}}
     
     * {{{./components/actions.html}Actions}} (Button, Link and File Selector)

     * {{{./components/table.html}Table}}
     
     * {{{./components/tree.html}Tree}}
     
     * {{{./components/spinner.html}Spinner}}
     
     * {{{./components/panel.html}Panel}} (and Group Panel)

     * {{{./components/windows.html}Windows and Dialogs}}


Components Hierarchy in Arena: Widget 

 Widget is the abstract base class that defines a component in Arena.  

[../images/arena-widgets-hierarchy.png]
     