 -----
 Uqbar Project
 -----
 ${project.name}
 -----
  
Navigation

 Navigation in Arena is very simple: you instantiate a Panel and then you open it. Panel can be a subclass of <<Window>> or <<Dialog>>. 
 
 Suppose you are in a Search Window with a "New" button. What should this button do?   
 
+--
new CreateCustomerDialog(this).open
+--
 
* Navigation back

 Dialogs offer a way to define behavior once they are closed. This can be done <<before they are opened>>:
 
+--
val dialog = new SomeKindOfDialog(this, anObject)
dialog.onAccept [ | modelObject.search ]   
dialog.open
+--    

 In the above example we instantiate the dialog, and before we open it we define that as soon as the dialog is closed we should trigger a search the model object in the parent view.
 
 Same example in Java 8:
 
+--
protected void openDialog(Dialog<?> dialog) {
   dialog.onAccept(getModelObject()::search);
   dialog.open();
}
+-- 

* Passing data to another view

 As windows are objects, we can use two well known mechanisms to pass data between two views:
 
 * sending objects in the constructor
 
 * assigning a reference in a setter method
 
 []

 
+--
public void editCustomer() {
   this.openDialog(new EditCustomerWindow(this, this.getModelObject().getCustomerSelected()));
}
+--  
