**/target/**
**/.metadata/**
**/.settings/**
**/.project
**/.classpath
**/.cache*
**/.hgignore
**/.hg/**
**/bin/**
**/*.orig
**/.tmp**
arena-xtend/src/test/generated-sources/**
arena-xtend/src/main/generated-sources/**
