 -----
 Uqbar Project
 -----
 ${project.name}
 -----

Maven Repositories

 Arena is released in Maven Central, so you don't have to configure any repository in your maven's settings file.  


Arena Artifacts

 Your UI project must depend on one of the Arena implementations. Currently the stable implementation is based on <<eclipse swt+jface>> and its call
 <<arena-jface>>:

+---------------------------------------------+

<dependency>
	<groupId>org.uqbar-project</groupId>
	<artifactId>arena-jface</artifactId>
	<version>${project.version}</version>
</dependency>

+---------------------------------------------+

 Your domain project must depend on <<uqbar-domain>>:

+---------------------------------------------+
<dependency>
	<groupId>org.uqbar-project</groupId>
	<artifactId>uqbar-domain</artifactId>
	<version>uqbar-domain-version</version>
</dependency>
+---------------------------------------------+

 You can check {{{http://search.maven.org}here}} available versions of these components.
 
 If you have a single project which contains the ui along with the domain, then you just need to include the dependency to <<arena-jface>> only. 
 
 This is not the recommended way to do it since you'll be coupling model with UI in terms of artifacts.

Launcher configuration

 You must define a launcher configuration to run Arena applications.
 
 Run > Run Configurations... > Java Application > New launch configuration, Arguments tab... and fill VM Arguments with 

+--   
-Djava.system.class.loader=com.uqbar.apo.APOClassLoader
+--
